---
import Layout from '../layouts/default.astro'
---

<Layout title="An Example Iteration Flow | FAIRCOP">
  <div class="md:max-w-2xl mt-10 flex flex-col items-start">
    <h1 class="text-xl md:text-2xl font-bold">An Example Iteration Flow</h1>
    <img
      class="mt-5"
      width="736px"
      loading="lazy"
      height="1000px"
      src="https://a.storyblok.com/f/117912/736x1000/dbc50899e7/iteration.jpeg/m/filters:quality(40)"
    />
  </div>
</Layout>
