---
import Layout from '../layouts/default.astro'
---

<Layout title="FAIRCOP - Facial Image Retrieval using Contrastive Personalization">
  <div class="w-full max-w-[90vw] lg:max-w-[75vw] sm:px-10 flex flex-col items-center">
    <div class="mt-10 flex flex-col items-start">
      <h1 class="text-6xl md:text-8xl font-extrabold leading-tighter bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400">
        FaIRCoP
      </h1>
      <h1 class="text-xl md:text-4xl md:max-w-2xl text-gray-600 font-light break-all break-words">
        Facial Image Retrieval using Contrastive Personalization
      </h1>
      <div class="mt-10 relative w-full md:max-w-2xl">
        <video controls width="1280px" height="720px" class="mx-auto" preload="none" poster="/static/Thumbnail.jpg">
          <source type="video/mp4" src="https://a.storyblok.com/f/117912/x/2177eea698/faircop.mp4" />
        </video>
      </div>
    </div>
  </div>
</Layout>
